/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html, 
body{
    min-height: 100%;
    font-family: Roboto, sans-serif;
}
html{
    -webkit-text-size-adjust: 100%;
}

h1{
    font-weight: 400;
    font-size: 400%;
    margin: 100px 0 10px 0;
}
h2{
   
    font-weight: 400;
    font-size: 300%;
    font-family: Roboto bold;
}
h3{
    font-family: Roboto bold;
}
em{
    font-size: 60%;
    margin-top: 0.3em;
}

li{
    margin-top: 0.5em;
    font-size: 100%;
}

span{
    font-family: Roboto bold;
    
}
ul{
    margin-top: 0.875em;
    margin-bottom: 0.875em;
}
a{
    color: black;
}
a:hover{
    color:grey;
}

p{
    margin-top: 0.5em;
    font-size: 120%;
}

/*----CLASSES-----*/

.wrapper{
    max-width:70%;
    margin: auto;
   
}
.divider{
    width: 100%;
    color:#A98B98;
    border: 1px solid;
}
.contacts{
    text-align: center;
}
.main-head{
    font-weight: 700;
    text-align: center;
    padding-bottom: 1.2em;
}
.cv__item{
    padding-right: 2.625em;
    padding-left: 2.625em;
    margin-top: 0;
    margin-top: 1.5em;

}

.description{
    margin-top: 1.4375em;
    font-size: 200%;
   
}
.tech{
    font-size: 100%;
    font-family: Roboto bold;
}
.sub-description{
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}


.code-block{
    margin-top: 1em;
    background-color: #D3DEDC;
    border-radius: 5px;
   
}
.text-programm{
    padding: 10px;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}
.tab2{
    display: inline-block;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.tab4{
    display: inline-block;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}
.tab6{
    display: inline-block;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
}
.links{
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    text-align: center;
    
}
.fa-github, .fa-youtube{
    font-size: 400%;
}
.rsschool__icon{
    max-height: 50px;
    padding-left: 5.5em;
    padding-right: 5.5em;
    
}
.avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 10px;
    
}

.copyright{
    font-size: 220%;
    padding-bottom: 2em;
    text-align: center;
}
